.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.actionBox{
    margin: 20px 0;
}

.docBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: left;
    gap: 10px;
}

.box{
    border: 1px dotted #000;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.boxbox{
    color: #fff;
    background: rgba(55, 58, 241, 0.5);
}