.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.box{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
}

.box{
    border: 1px dotted #000;
    padding: 10px;
    margin-top: 10px;
    /* cursor: pointer; */
}

.boxbox{
    color: #fff;
    background: rgba(55, 58, 241, 0.5);
}