
.valuesBox {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.titleBox{
    border-bottom: 0.3px dotted #000;
    padding-bottom: 10px;
}

.notColor {
    color: transparent;
}

.ico {
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: blue;
    fill: red;
}

.checkBoxs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: 20px 0px;
}

.partnersBox{
    display: grid;
    gap: 10px;
}