.topBox{
  display: grid;
  grid-template-columns: auto 5fr auto;
  border-bottom: 0.3px dotted #000;
  border-top: 0.3px dotted #000;
  align-items: top;
  position: relative;
  align-items: center;
  margin-bottom: 20px;
  background-color: #F2F4F7;
  padding: 10px;
}

.topBoxMini{
  grid-template-columns: 5fr 1fr;
  min-height: 50px;
  align-items: center;
}

.logo{
  font-weight: 600;
  font-size: 16px;
  color: #267CB5;
}

.logo span {
  color: #000;
  font-weight: 500;
}