.itemsBox{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.title{
    margin: 20px 0px;
    font-weight: 700;
    background: rgb(1, 150, 1);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.13);
}